@* @{
  Layout = "_Layout";
}

@model Store.Models.Product

<h2>Product Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<p>@Html.ActionLink("Edit Product", "Edit", new { id = Model.ProductId })</p>
<p>@Html.ActionLink("Delete Product", "Delete", new { id = Model.ProductId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p> *@
